@import "tailwindcss";

* {
  font-family: "DM Sans", sans-serif;
}

.font-mono {
  font-family: "DM Mono", monospace;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 999px;
}
